<?xml version="1.0" encoding="utf-8"?>
<config>
	<ServicePort>8080</ServicePort>
	<CloudImageRecognitionServiceName>cloudimagerecognition</CloudImageRecognitionServiceName>
	<ResultServiceName>resultservice</ResultServiceName>
	<EC2ImageId>ami-f6bcaa96</EC2ImageId>
	<EC2InstanceType>t2.micro</EC2InstanceType>
	<SQSQueueName>cse546-project1-sqsUserRequests</SQSQueueName>
	<EC2SecurityGroup>sg-3d9ac344</EC2SecurityGroup>
	<IAMRole>cse546-project1-sqsUserRequests</IAMRole>
	<Factor>2</Factor>
	<EC2InstanceLimit>19</EC2InstanceLimit>
	<PerformFileValidityCheck>false</PerformFileValidityCheck>
</config>
